//Footer
//Contact Section
#contact {
    background-color: #262626;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 40px;

    h3 {
        color: white;
        font-weight: 300;
    }

    ul {
        padding: 5px 0;
    }

    li {
        list-style-type: none;
        color: #40D681;
        font-size: 13px;
        padding: 2px 0;
    }
}

#beryllium-info {
    width: 70%;

    p {
        width: 330px;
        color: #747372;
    }
}

#links {
    position: relative;
    left: 7%;
    width: 100%;
}

#work {
    position: relative;
    left: 15%;
    width: 100%;
}

#email {
    position: relative;
    left: 20%;
    width: 100%;

    input {
        padding: 14px 20px;
        font-size: 20px;
        width: 280px;
        border-radius: 7px;
        outline: none;
        border: none;
    }

    button {
        margin-top: 5px;
        background-color: #52D681;
        border: none;
        outline: none;
        padding: 15px;
        font-weight: bold;
        color: white;
        border-radius: 5px;
    }
}

//Copyrights Section
#copyrights {
    background-color: #1A1A1A;
    padding: 40px 0;
}

.copyrights-container {
    display: flex;
    justify-content: space-between;
    color: #5C5556;
    font-size: 13px;
    width: 100%;

    .designed-by {
        a {
            text-decoration: none;
            color: #3AB063;
            transition: all 0.4s ease;
            font-weight: 500;

            &:hover {
                color: white;
            }
        }
    }
}