* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

#navbar a {
  text-decoration: none;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-size: 15px;
}

#navbar ul li {
  list-style-type: none;
}

#navbar ul li a {
  color: grey;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#navbar ul li a:hover {
  color: black;
}

#navbar ul li #home {
  color: black;
}

#navbar #beryllium-text {
  color: black;
}

#services-dropdown {
  position: relative;
}

#services-dropdown:hover #services-dropdown-content {
  display: block;
}

#services-dropdown-content {
  position: absolute;
  top: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  display: none;
  padding: 20px 35px;
  z-index: 1;
}

#services-dropdown-content ul {
  display: block;
}

#services-dropdown-content ul li {
  width: 100px;
}

#dropdown-dropdown {
  position: relative;
}

#dropdown-dropdown:hover #dropdown-dropdown-content {
  display: block;
}

#dropdown-dropdown-content {
  background-color: aqua;
  position: absolute;
  top: 50px;
  background-color: black;
  color: white;
  border-radius: 15px;
  display: none;
  padding: 20px 35px;
  z-index: 1;
}

#dropdown-dropdown-content ul {
  display: block;
}

.architecture-carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.architecture-carousel-indicators .active {
  background-color: grey;
}

.architecture-carousel-content {
  position: absolute;
  bottom: 3%;
  left: 3%;
  font-weight: 100;
  color: white;
}

#buildings .buildings-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#buildings .buildings-card .buildings-card-item {
  width: 360.33px;
  height: 404.7px;
}

#buildings .buildings-summary {
  padding: 50px 0;
  text-align: center;
}

#buildings .buildings-summary p {
  position: relative;
  font-size: 20px;
  left: 18%;
  width: 63%;
}

.buildings-carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.buildings-carousel-indicators .active {
  background-color: grey;
}

#news {
  padding: 30px 0;
}

.news-testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 220px;
}

.news {
  width: 160%;
}

.news h1 {
  font-size: 30px;
  color: #52D681;
  font-weight: 300;
}

.news h6 {
  color: #D8D8D1;
}

.news .news-text {
  color: black;
  padding-bottom: 5px;
}

.news .news-item {
  padding: 7px 0;
  cursor: pointer;
}

.news .news-item a {
  text-decoration: none;
}

.news .news-item a h1 {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.news .news-item a h1:hover {
  color: black;
}

.news .news-item h6 {
  font-size: 14px;
}

.news button {
  background-color: #52D681;
  color: #2F9051;
  padding: 10px 35px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.news button:hover {
  color: white;
}

.testimonial h1 {
  font-weight: 300;
}

.testimonial .testimonials-item {
  font-style: italic;
  padding: 10px 0;
}

.testimonial .testimonials-item #text {
  text-align: left;
  font-size: 20px;
  width: 90%;
}

.testimonial .testimonials-item #author {
  color: #B3B3BF;
}

#summary {
  padding: 30px 0;
}

.summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.summary-container .summary-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.summary-container .summary-container-item i {
  color: grey;
  font-size: 32px;
}

.summary-container .summary-container-item p {
  width: 90%;
  color: #958477;
}

.summary-container .summary-container-item a {
  text-decoration: none;
  color: #7FD88D;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.summary-container .summary-container-item a:hover {
  color: black;
}
