//Header
header {
    width: 100%;
    // background-color: blue;
}

//Navbar
#navbar {
    display: flex;
    justify-content: space-between;
    // background-color: darkred;
    padding: 50px 0;

    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        gap: 30px;
        font-size: 15px;

        li {
            list-style-type: none;

            a {
                color: grey;
                text-decoration: none;
                transition: all 0.2s ease;

                &:hover {
                    color: black;
                }
            }

            #home {
                color: black;
            }
        }
    }

    #beryllium-text {
        color: black;
    }
}

//Dropdowns
#services-dropdown {
    position: relative;

    &:hover #services-dropdown-content {
        display: block;
    }
}

#services-dropdown-content {
    position: absolute;
    top: 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
    display: none;
    padding: 20px 35px;

    ul {
        display: block;

        li {
            width: 100px;
        }
    }
}

#dropdown-dropdown {
    position: relative;

    &:hover #dropdown-dropdown-content {
        display: block;
    }
}

#dropdown-dropdown-content {
    background-color: aqua;
    position: absolute;
    top: 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
    display: none;
    padding: 20px 35px;

    ul {
        display: block;
    }
}