//Architecture Section
//Carousel
.carousel-item {
    transition: all 0.2s ease-in-out !important;
}

.carousel-indicators {
    .active {
        background-color: grey;
    }
}

.carousel-indicators {
    li {
        width: 10px !important;
        height: 10px !important;
        border-radius: 100%;
    }
}

.architecture-carousel-content {
    position: absolute;
    bottom: 3%;
    left: 3%;
    font-weight: 100;
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #18222b;
    height: 50px;
    width: 50px !important;
    top: 50% !important;
}

.carousel-control-prev {
    left: 2% !important;
}

.carousel-control-next {
    right: 2% !important;
}

//Buildings Section
//Carousel
#buildings {
    .buildings-card {
        display: flex;
        gap: 30px;

        h3 {
            margin-top: 20px;
            font-size: 24px;
        }

        .buildings-card-item {
            width: 360.33px;
            height: 404.7px;

            p {
                color: #a7a6a6;
                font-size: 14px;
            }
        }
    }

    .buildings-summary {
        padding: 50px 0;
        text-align: center;

        p {
            position: relative;
            font-size: 18px;
            left: 18%;
            width: 65%;
            color: #898989;
        }
    }
}

.buildings-carousel-indicators {
    li {
        background-color: grey !important;
    }

    margin-top:50px;
}

//News Section
#news {
    padding: 70px 0;
}

.news-testimonials-container {
    display: flex;
    gap: 220px;
}

.news {
    width: 160%;

    h1 {
        font-size: 30px;
        color: #52D681;
        font-weight: 300;
    }

    h6 {
        color: #D8D8D1;
    }

    .news-text {
        color: black;
        padding-bottom: 5px;
    }

    .news-item {
        padding: 7px 0;
        cursor: pointer;

        a {
            text-decoration: none;

            h1 {
                font-size: 25px;
                transition: all 0.2s ease;

                &:hover {
                    color: black;
                }
            }
        }

        h6 {
            font-size: 12px;
        }
    }

    button {
        background-color: #52D681;
        color: #2F9051;
        padding: 10px 35px;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        border: none;
        outline: none;
        transition: all .5s ease;

        &:hover {
            color: white;
        }
    }
}

.testimonial {

    h1 {
        font-weight: 300;
    }

    .testimonials-item {
        font-style: italic;
        padding: 10px 0;

        #text {
            text-align: left;
            font-size: 16px;
            width: 90%;
        }

        #author {
            color: #B3B3BF;
        }

    }
}

//Summary Section
#summary {
    padding: 30px 0;
}

.summary-container {
    display: flex;

    .summary-container-item {
        display: flex;
        gap: 20px;

        i {
            color: grey;
            font-size: 32px;
        }

        p {
            width: 90%;
            color: #958477;
        }

        a {
            text-decoration: none;
            color: #7FD88D;
            font-size: 14px;
            transition: all 0.3s ease;

            &:hover {
                color: black;
            }
        }
    }
}